

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('common/navbar') %>
    
    <h2>About Page</h2>
    <h3>Welcome <%= empInfo.name%></h3>
    <p>Id: <%= empInfo.id%></p>

    <ul>
        <% empInfo.fav.forEach((item) => {%>
            <li><%= item%></li>
        <% }) %>
    </ul>


</body>
</html>