

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>

    <%- include('common/navbar') %>
    <h2>Welcome <%= empInfo.name%></h2>
    <h2>Id: <%= empInfo.id%></h2>
</body>
</html>